.left_portion {
  width: 250px; 
  background-color: #37146b;
  color: white;
  font-size: 14px;
  padding: 20px;
  transition: width 0.5s ease-in-out; 
  display: flex;
  flex-direction: column;
}

.left_portion.collapsed {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.left_portion.expanded {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 9px;
  overflow: hidden;
  padding: 15px;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  align-self: flex-start; 
  padding-left: 16px;
}
.tab.active {
  background-color: #f0f0f0; 
  border-left: 4px solid blue; 
}
