.top-bar {
  width: 80vw;
  height: 55px;
  padding: 0px 20px 0px 0px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 500px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.applications{
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    font-family: "Inter";
}
.applications label{
font-family: "Inter";
font-size: 10px;
font-weight: 500;
line-height: 16px;
text-align: left;
color: #595959;

}

.top-bar select {
  padding: 2px 12px;
  border: none;
  /* border: 0px; */
  outline: 0px;
  border-radius: 5px;
  width: 100%;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  appearance: none;
  background-color: #f8f8f8;
  cursor: pointer;
}


.user_login {
  /* padding: 10px; */

  border-radius: 5px;
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.user_login select {
  padding: 2px ;
  border: none;
  /* border: 0px; */
  outline: 0px;
  border-radius: 5px;
  width: 100%;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  appearance: none;
  background-color: #f8f8f8;
  cursor: pointer;
}

.user_login p {
  font-size: 16px;
  color: #333; 
  font-weight: bold; 
  /* margin-top: 10px;  */
}

.user_login p[data-letters]::before {
  content: attr(data-letters);
  display: inline-block;
  background-color: #ffd07b; 
  color: white;
  font-size: 14px;
  width: 36px;
  /* height: 36px; */
  line-height: 36px; 
  text-align: center;
  border-radius: 50%; 
  margin-right: 8px;
}
