.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  /* margin-bottom: 20px; */
}

.tab button {
  /* padding: 10px 20px; */
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
}

.tab button.active {
  border-bottom: 3px solid #6e27d5;
  color: #6e27d5;
}

.tab-content {
  /* padding: 20px; */
  border: 1px solid #ccc;
  border-radius: 8px;
  /* width: Fill (570px) px;
  height: Fixed (396px) px; */
  padding: 24px 0px 0px 0px;
  gap: 12px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  height: auto;
  width: 49%;
}
